<div class="row">
	<div class="small-12 columns">
		<%= form_for(@task, url:{action: "create"}) do |f| %>
			<%= f.label(:title, "Title") %>
			<%= f.text_field(:title) %>
			<%= f.label(:description, "Description") %>
			<%= f.text_area(:description) %>
			<%= f.label(:due_date, "Due Date") %>
			<%= f.date_select(:due_date) %>
			<%= f.hidden_field :task_list_id, value: params[:task_list_id] %>
			<%= submit_tag("Create") %>
		<% end %>
	</div>
</div>