<%= render partial: 'filter' %>

<div class="row">
	<div class="small-12 columns">
		<h2><%= @task_list.title %></h2>
		<% if @task_list.archived %>
			<h4>This list has been archived.</h4>
			<ul class="task-list-options">
				<li>
					<%= link_to 'Unarchive List', {controller: "task_lists", action: "update", user: current_user, :task_list => {archived: false}}, method: :patch %>
				</li>
				<li>
					<%= link_to 'Delete List', {controller: "task_lists", action: "destroy", user: current_user}, method: :delete %>
				</li>
			</ul>
		<% else %>
			<ul class="task-list-options">
				<li>
					<%= link_to 'Add Task', new_user_task_list_task_path(current_user, @task_list) %>
				</li>
				<li>
					<%= link_to 'Archive List', {controller: "task_lists", action: "update", user: current_user, :task_list => {archived: true}}, method: :patch %>
				</li>
				<li>
					<%= link_to 'Rename List', edit_user_task_list_path(current_user, @task_list) %>
				</li>
			</ul>
		<% end %>
		<ul class="task-list-tasks">
			<% @tasks.each do |task| %>
				<li class="task" data-status="<%= task.status %>" data-due-date="<%= task.due_date%>" data-title="<%= task.title %>" style="<%= 'display: none;' if task.status == 'complete' %>">
					<h4><%= task.title %></h4>
					<p><%= task.description %> <%= link_to "Edit Task", edit_user_task_list_task_path(current_user, task.task_list, task) %></p>
					<p>Due <%= task.due_date.to_s %>
						<% if task.status == "incomplete" %>
							<%= link_to "Finish Task", user_task_list_complete_task_path(current_user, task.task_list, task), method: :patch %>
						<% else %>
							<%= link_to "Mark Incomplete", user_task_list_uncomplete_task_path(current_user, task.task_list, task), method: :patch %>
						<% end %>
					</p>
				</li>
			<% end %>
		</ul>
	</div>
</div>